flask==3.1
pydantic==2.13
python-dotenv==1.1
sqlalchemy==2.0
pandas==2.3.3
joblib==1.5.3

numpy==2.2.6
pandas==2.3.3
scipy==1.15.3

scikit-learn==1.7.2
imbalanced-learn==0.14.2

category-encoders==2.8.1
feature-engine==1.9.4

psycopg2-binary==2.9.11
alembic==1.16.4

werkzeug

flasgger